@page "/"

@inherits FluxorComponent

<PageTitle>Home</PageTitle>

<div>Connected: @Connected</div>

<hr />

<div>Messages: @Messages.Count</div>
<ol>
    @foreach (var message in Messages)
    {
        <li>
            @message.Title - @message.Message
        </li>
    }
</ol>

<hr />

<button class="btn btn-primary" @onclick="SendMessage" disabled="@(!Connected)">Send</button>


